@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  font-family: "Fira Code", monospace, sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 14px;
}
